<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="6QrYFZW_vVGIwQHkDKAC7smXbvcpGQgKhL4wJuGrSk0" />
    <title>Alison Bushor</title>
    <%= metamagic %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <%= yield %>
  </body>
</html>
