<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="6QrYFZW_vVGIwQHkDKAC7smXbvcpGQgKhL4wJuGrSk0" />
    <title>Alison Bushor | Content Designer</title>
    <%= metamagic %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src='script.js'></script>
    <link rel="stylesheet" href="../../assets/stylesheets/application.scss">

  </head>

  <body>
    <div class='top-bar' id='top-bar-length'></div>

    <div class="dropdown sticky" id='bkgdchange'>
      <div class="container" onclick="alterBuns(this)">
        <div class="bar1" id='buns1'></div>
        <div class="bar2" id='buns'></div>
        <div class="bar3" id='buns'></div>
      </div>
      <div id="hamburger" class="dropdown-content" scroll='no'>
          <div class='dropdown-links'>
            <a href="<%=home_index_url%>">Home</a><br>
            <a href="<%=projects_url%>">Projects</a><br>
            <a href="<%=info_index_url%>">Info</a>
          </div>
        </div>
    </div>


    <%= yield %>
  </body>
</html>
